*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    gap: 10px;
}

.div1{
    width: 80%;
    margin: 0vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgb(0, 0, 0,0.75);
    a{
        color: rgb(0, 0, 0,0.75);
    }
}

.media{
    width: 100%;
    overflow: hidden;
    height: max-content;
    margin: 0px 0px;
    position: relative;
}

.media .frontImg{
    width: 100%;
}

.media .frontImg img{
    width: 100%;
    height: 80vh;
}

.media .floatingDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 1000;
    top: 50px;
    right:200px;
    background-color: rgb(228, 14, 82);
    padding: 30px;
    border-radius: 20px;
    width: 32vw;
    color: white;
    font-size: 30px;
    button{
        width: 50%;
        font-size: 30px;
        padding: 8px;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(229, 237, 245);
}

.products{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.products .upper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.upper p{
    margin: 30px 0px 20px 0px;
    font-weight: bolder;
    font-size: 25px;
}

.products .lower{
    display: grid;
    grid-template-columns: repeat(4,266px);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
    align-items: stretch;
}

.lower .cart {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    background-color: white;
}

.icart1 img {
    transition: transform 0.5s ease-in-out;
}

.lower .cart:hover .icart1 img {
    transform: scale(1.1);
}

.lower .cart:hover .icart2 .top a {
    text-decoration: underline;
}

.cart .icart1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.icart1 img{
    width: 233px;
    height: 299px;
}


.icart1 span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(239, 240, 245);
    padding: 5px 10px;
    border: 1px solid rgb(0,0,0,0.1);
    z-index: 1;
}

.icart2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icart2 .top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.bottom button{
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    background-color: rgb(255, 255, 255,1);
    cursor: pointer;
}

.choco{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(229, 237, 245);
    margin-bottom: 20px;
}

.choco .ichoco{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.ichoco .upr{
    padding: 40px 0px 20px 0px;
}

.ichoco .lwr{
    display: flex;
    gap: 20px;
}

.lwr .ilwr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.ilwr .iupr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iupr img{
    width: 100%;
}

.iilwr a{
    word-spacing: 2px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.iilwr a:hover{
    text-decoration: underline;
}

.iilwr p{
    font-weight: lighter;
    font-variant: normal;
}